/ {
    chosen {
        zmk,kscan = &kscan0;
    };
};

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio";  /* needed placeholder node */
        status = "disabled";
    };
};

/* Disable any inherited matrix */
&kscan {
    status = "disabled";
};

&matrix_transform {
    status = "disabled";
};