/ {
    chosen {
        zmk,usb = &usbd;
    };
};

/* Disable keyboard scanning and matrix (not used on dongle) */

&matrix_transform {
    status = "disabled";
};

/* Disable ANY inherited kscan node if it exists */
&kscan {
    status = "disabled";
};
