if SHIELD_CRADIO_DONGLE

config ZMK_KEYBOARD_NAME
    default "Sweep"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

config BUILD_OUTPUT_HEX
    default y

config BUILD_OUTPUT_UF2
    default n

config FLASH_LOAD_OFFSET
    default 0x1000

config BOARD_HAS_NRF5_BOOTLOADER
    default y

endif

if SHIELD_CRADIO_LEFT || SHIELD_CRADIO_RIGHT || SHIELD_CRADIO_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config BUILD_OUTPUT_HEX
    default y

config BUILD_OUTPUT_UF2
    default n

config FLASH_LOAD_OFFSET
    default 0x1000

config BOARD_HAS_NRF5_BOOTLOADER
    default y

endif
