/*                              34 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────┬────────────────────╮ ╭─────────────────────┬─────────────────────╮
  │  0   1   2   3   4 │  5   6   7   8   9 │ │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
  │ 10  11  12  13  14 │ 15  16  17  18  19 │ │ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
  │ 20  21  22  23  24 │ 25  26  27  28  29 │ │ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ 30  31 │ 32  33 ╭───────────╯ ╰───────────╮ LH1 LH0 │ RH0 RH1 ╭───────────╯
              ╰────────┴────────╯                         ╰─────────┴─────────╯             */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/rgbled_widget.dtsi>
#include "includes/oskey.dtsi"

#define LT0  4
#define LT1  3
#define LT2  2
#define LT3  1
#define LT4  0
#define RT0  5
#define RT1  6
#define RT2  7
#define RT3  8
#define RT4  9
#define LM0 14
#define LM1 13
#define LM2 12
#define LM3 11
#define LM4 10
#define RM0 15
#define RM1 16
#define RM2 17
#define RM3 18
#define RM4 19
#define LB0 24
#define LB1 23
#define LB2 22
#define LB3 21
#define LB4 20
#define RB0 25
#define RB1 26
#define RB2 27
#define RB3 28
#define RB4 29
#define LH0 31
#define LH1 30
#define RH0 32
#define RH1 33

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define LTROW  LT0 LT1 LT2 LT3 LT4
#define LMROW  LM0 LM1 LM2 LM3 LM4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define RTROW  RT0 RT1 RT2 RT3 RT4
#define RMROW  RM0 RM1 RM2 RM3 RM4
#define THUMBS     LH1 LH0 RH0 RH1

#define BASE 0
#define SYM 1
#define NAV 2
#define FNC 3
#define MSE 4

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <500>;
    trigger-period-ms = <16>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <70>;
    trigger-period-ms = <16>;
};

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE SPACE MINUS DEL N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>; };

/ {
    macros {
        main_macro: main_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(M) &kp U &kp S &kp T &kp A &kp N &kp G &kp A &kp T &kp C &kp O &kp V &kp E &kp N &kp T &kp R &kp Y &kp DOT &kp N1 &kp N9 &kp N6 &kp N5>;
            label = "MAIN_MACRO";
        };

        email_macro: email_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp I &kp R &kp I &kp L &kp DOT &kp B &kp U &kp R &kp A &kp V &kp S &kp K &kp I &kp J &kp AT &kp I &kp B &kp M &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL_MACRO";
        };

        pass1_macro: pass1_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp K &kp M &kp F &kp A &kp U &kp T &kp O>;
            label = "PASS1_MACRO";
        };

        pass2_macro: pass2_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp N2 &kp N3 &kp N5 &kp N8 &kp X>;
            label = "PASS2_MACRO";
        };
    };

   cond_layers {
        compatible = "zmk,conditional-layers";
        func_tristate {
            if-layers = <SYM NAV>;
            then-layer = <FNC>;
        };
    };

    behaviors {
        tof: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer off";
            toggle-mode = "off";
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <130>;
            flavor = "balanced";
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <155>;
            require-prior-idle-ms = <130>;
            flavor = "balanced";
            hold-trigger-key-positions = <KEYS_R LH0 RH0 RH1>;
            hold-trigger-on-release;
        };

        rth: rthumb {
            compatible = "zmk,behavior-hold-tap";
            label = "RTHUMB";
            bindings = <&mo>, <&kp>;
            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <140>;
            hold-trigger-key-positions = <LTROW RTROW RMROW LB0 RB0 LM4 LB4 RB4 THUMBS>;
        };

        lth: lthumb {
            compatible = "zmk,behavior-hold-tap";
            label = "LTHUMB";
            bindings = <&mo>, <&kp>;
            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <140>;
        };

        hp: hold_priority {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PRIORITY";
            bindings = <&kp>, <&kp>;
            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <150>;
        };

        lsm: left_shift_mode {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_SHIFT_MODE";
            bindings = <&kp>, <&kp>;
            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <120>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
        };

        rsm: right_shift_mode {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_SHIFT_MODE";
            bindings = <&kp>, <&kp>;
            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <120>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
        };

        rst_boot: rst_boot {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            flavor = "tap-preferred";
            bindings = <&bootloader>, <&sys_reset>;
        };
    };

    combos {
        compatible = "zmk,combos";

        delete {
            timeout-ms = <40>;
            require-prior-idle-ms = <100>;
            bindings = <&kp DELETE>;
            key-positions = <LM2 LM1>;
            layers = <BASE>;
        };

        copy {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_copy>;
            key-positions = <LB3 LB2>;
            layers = <BASE>;
        };

        paste {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_paste>;
            key-positions = <LB2 LB1>;
            layers = <BASE>;
        };

        // scroll_up {
        //     timeout-ms = <50>;
        //     require-prior-idle-ms = <180>;
        //     slow-release;
        //     bindings = <&msc SCRL_UP>;
        //     key-positions = <RT1 RT2 RT3>;
        //     layers = <BASE MSE>;
        // };

        escape {
            timeout-ms = <40>;
            require-prior-idle-ms = <0>;
            bindings = <&kp ESC>;
            key-positions = <RM1 RM2>;
            layers = <BASE>;
        };

        enter {
            timeout-ms = <40>;
            require-prior-idle-ms = <220>;
            slow-release;
            bindings = <&kp ENTER>;
            key-positions = <LM4 LM3 LM2>;
            layers = <BASE>;
        };

        caps_word {
            timeout-ms = <50>;
            require-prior-idle-ms = <0>;
            bindings = <&caps_word>;
            key-positions = <LM2 LM1 RM1 RM2>;
            layers = <BASE>;
        };

        cut {
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_cut>;
            key-positions = <LB3 LB1>;
            layers = <BASE>;
        };

        // to_mse_layer {
        //     timeout-ms = <40>;
        //     require-prior-idle-ms = <180>;
        //     slow-release;
        //     bindings = <&tog MSE>;
        //     key-positions = <RM2 RM3>;
        //     layers = <BASE>;
        // };

        // scroll_down {
        //     timeout-ms = <40>;
        //     require-prior-idle-ms = <180>;
        //     slow-release;
        //     bindings = <&msc SCRL_DOWN>;
        //     key-positions = <RB1 RB2 RB3>;
        //     layers = <BASE MSE>;
        // };

        escape_left {
            timeout-ms = <40>;
            require-prior-idle-ms = <200>;
            slow-release;
            bindings = <&kp ESC>;
            key-positions = <LT4 LT3>;
            layers = <BASE>;
        };

        softoff {
            timeout-ms = <1000>;
            require-prior-idle-ms = <200>;
            bindings = <&soft_off>;
            key-positions = <LM0 RM0>;
            layers = <FNC>;
        };

        indbat {
            timeout-ms = <100>;
            require-prior-idle-ms = <200>;
            bindings = <&ind_bat>;
            key-positions = <LT2 RT2>;
            layers = <FNC>;
        };

        indcon {
            timeout-ms = <100>;
            require-prior-idle-ms = <200>;
            bindings = <&ind_con>;
            key-positions = <LT1 RT1>;
            layers = <FNC>;
        };

        main_macro_combo {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            bindings = <&main_macro>;
            key-positions = <LT4 LT3 RT3 RT4>;
            layers = <BASE>;
        };

        undo {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_undo>;
            key-positions = <LB4 LB3>;
            layers = <BASE>;
        };

        redo {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_redo>;
            key-positions = <LB4 LB2>;
            layers = <BASE>;
        };

        select_all {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_select_all>;
            key-positions = <LM4 LM3>;
            layers = <BASE>;
        };

        save {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_save>;
            key-positions = <LM3 LM2>;
            layers = <BASE>;
        };

        find {
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            bindings = <&ok_find>;
            key-positions = <LM1 LM2>;
            layers = <BASE>;
        };

        tab_key {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            bindings = <&kp TAB>;
            key-positions = <LT2 LT3>;
            layers = <BASE>;
        };

        backtick {
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
            bindings = <&kp GRAVE>;
            key-positions = <LB1 LB2>;
            layers = <BASE>;
        };

        email_combo {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            bindings = <&email_macro>;
            key-positions = <RT4 RB4>;
            layers = <BASE>;
        };

        pass1_combo {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            bindings = <&pass1_macro>;
            key-positions = <RT4 RM4>;
            layers = <BASE>;
        };

        pass2_combo {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            bindings = <&pass2_macro>;
            key-positions = <RM4 RB4>;
            layers = <BASE>;
        };

        f13_combo {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            bindings = <&kp F13>;
            key-positions = <LM0 RM0>;
            layers = <FNC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
     &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y            &kp U           &kp I         &kp O            &kp P
     &hml LCTRL A  &hml LALT S   &hml LGUI D   &lsm LSHFT F  &kp G             &kp H            &rsm RSHFT J    &hmr LGUI K   &hmr LALT L      &hmr LCTRL SEMI
     &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N            &kp M           &kp COMMA     &kp DOT          &kp SLASH
                                               &lth SYM SPACE &hp RCTRL TAB    &hp LSHFT ENTER  &rth NAV BSPC
            >;
        };

        symbol {
          display-name = "SYM";
          bindings = <
    &kp EXCL           &kp AT_SIGN        &kp HASH           &kp DLLR            &kp PRCNT          &kp CARET        &kp AMPS             &kp ASTERISK         &kp LPAR              &kp RPAR
    &hml LCTRL EQUAL   &hml LALT UNDER    &hml LGUI LBRC     &hml LSHFT LBKT     &kp SLASH          &kp BSLH         &hmr LSHFT RBKT      &hmr LGUI RBRC       &hmr LALT MINUS       &hmr LCTRL COLON
    &kp TILDE          &kp PIPE           &kp GRAVE          &kp SQT             &kp MINUS          &kp PLUS         &kp DOUBLE_QUOTES    &kp LESS_THAN        &kp GREATER_THAN      &kp QUESTION
                                                             &trans              &trans             &trans           &trans
          >;
       };

        nav_number {
            display-name = "NAV";
            bindings = <
     &kp N1                 &kp N2     &kp N3              &kp N4            &kp N5              &kp N6            &kp N7             &kp N8         &kp N9             &kp N0
     &hml LCTRL PSCRN       &trans     &hml LGUI C_PREV    &lsm LSHFT C_PP   &kp C_NEXT          &kp LEFT          &hmr LSHFT DOWN    &hmr LGUI UP   &hmr LALT RIGHT    &hmr LCTRL C_VOL_UP
     &kp C_MUTE             &trans     &kp K_APP           &kp PG_UP         &kp HOME            &kp END           &kp PG_DN          &kp COMMA      &kp DOT            &kp C_VOL_DN
                                                           &trans            &trans              &trans            &trans
        >;
      };

        settings_function {
            display-name = "FNC";
            bindings = <
     &kp F1          &kp F2          &kp F3          &kp F4          &kp F5              &kp F6            &kp F7           &kp F8         &kp F9         &kp F10
     &kp LCTRL       &kp LALT        &kp LGUI        &kp LSHFT       &kp F11             &kp F12           &kp LSHFT        &kp LGUI       &kp LALT       &kp LCTRL
     &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &rst_boot 0 0       &rst_boot 0 0     &studio_unlock   &out OUT_USB   &out OUT_BLE   &bt BT_CLR
                                                     &none           &none               &none             &none
         >;
      };

        mouse_layer {
            display-name = "MSE";
            bindings = <
     &none              &mkp MB4         &mkp MCLK           &mkp MB5       &none                  &none             &msc SCRL_UP      &mmv MOVE_UP      &none               &none
     &msc SCRL_LEFT     &mkp LCLK        &msc SCRL_DOWN      &mkp RCLK      &msc SCRL_RIGHT        &none             &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT     &none
     &none              &none            &none               &none          &none                  &none             &none             &none             &none               &none
                                                             &tof MSE       &mkp LCLK              &mkp RCLK         &tof MSE
         >;
        };
    };
};
